/* Reset */
* {
    margin: 0;
    padding: 0;
}

/* Base */
body {
    background-color: #121212;
    color: #f0f8f0;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    overflow-y: hidden;
}

a {
    text-decoration: none;
    color: #e0cc70;
}

h2 {
    text-transform: capitalize;
    font-size: 2.5em;
}

p {
    max-width: 40ch;
    font-size: 25px;
}

strong {
    color: #8f8ff5;
}

.section {
    margin-top: 2em;
}

/* Hero */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
}

.hero_h {
    text-transform: capitalize;
    font-size: 4em;
}

.hero_img {
    border-radius: 50%;
}

.hero_p {
    font-size: 1.5em;
    text-align: center;
}

/* About */
.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5em;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
}

.about-img {
    width: 750px;
    height: 500px;
}

/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.footer_list {
    display: flex;
    list-style: none;
    gap: 2em;
}

.footer-text {
    font-size: 1em;
}

.footer_link:hover {
    text-decoration: none;
}

.footer_link-img {
    color: white;
    width: 35px;
    height: 35px;
}
